.component-error {
  padding: 15px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 500px;
  text-align: center;
  color: #fff;
}