.component-library {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  color: #fff;
}
.classes-card {
  max-width: 315px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.classes-media {
  height: 315px;
  width: 315px;
}